#one
{
   color: violet;
}
#two
{
   color: indigo;

}
#three
{
   color: blue;
}
#four
{
   color: greenyellow;
}
#five
{
   color: yellow;
}
#six
{
   color: orange;
}
#seven
{
   color: red;
}
#box
{
   color: blue;
}
#heading
{
   color: red;
}
#button1
{
   background-color: red;
   color: white;
   
}
#button2
{
 background-color: blue;
 color: white;
}
#button3
{
   background-color:green;
   color: white;
}
.featured
{
   color: green;
}
#main
{
   color: orange;
}